
$yellow: rgb(221, 188, 88);
$green: rgb(74, 178, 100);

$box-border-colour: #aaa;

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

hr {
  margin: 0.7rem auto;
  width: 80%;
}

h1 {
  margin-top: 0.7rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

#summary {
  text-align: center;
  font-size: 0.9rem;
  /* font-style: italic; */
  padding: 0 1rem;
}

td {
  border: 0.2rem solid #aaaaaa;
  box-sizing: border-box;
  width: 3.5rem;
  height: 3.5rem;
}

#inputs {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

#colour_picker_table {
  display: inline;
}

#wordle_format_input {
  box-sizing: border-box;
  border: 0.2rem solid $box-border-colour;
  margin-left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  overflow:hidden;
  resize: none;
}

#wordle_format_input[placeholder] {
  font-size: 0.7rem;
  text-align: left;
  padding: 0 0 0 0.1rem;
}

[data-selected="false"] {
  border: 0.2rem solid $box-border-colour;
}

[data-selected="true"] {
  border: 0.2rem solid rgb(0, 0, 0)
}

#whitebox {
  background-color: #fff;
}

#yellowbox {
  background-color: $yellow;
}

#greenbox {
  background-color: $green;
}

#entry_table {
  margin: auto;
  margin-top: 1rem;
}

[data-colour="white"] {
  animation: whiteransistion 0.5s forwards;
  background-color: rgb(255, 255, 255);
}

[data-colour="yellow"] {
  animation: yellowTransistion 0.5s forwards;
  background-color: $yellow;
  border: none;
}

[data-colour="green"] {
  animation: greenTransistion 0.5s forwards;
  background-color: $green;
  border: none;
}


#final_word {
  margin: auto;
  display: block;
  margin-top: 1rem;
  width: 18rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #333;
}

#final_word::placeholder {
  text-align: center;
  text-transform: none;
  font-size: 1.25rem;
}

button {
  display: block;
  margin: 1rem auto;
  width: 18.5rem;
  height: 2.5rem;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  background-color: #ccc;
  box-shadow: 0.2rem 0.2rem 0.4rem #ddd;
}

button:hover {
  background-color: #ddd;
}

#results {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.guessContainer {
  margin: 0;
  box-sizing: border-box;
  padding:0.5rem;
}

.guessContainer h3 {
  color: #333;
  text-transform: uppercase;
}

.guessContainer table {
  padding: 0.2rem 0;
  margin-left: -0.1rem;
}

.guessContainer p {
  padding-bottom: 0.3rem;
}

.scrollBox {
  width: 100%;
  max-height: 15rem;
  overflow: auto;
}

.scrollBox ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  margin-left: 1rem;
}

@media screen and (max-width: 500px) {
  .guessContainer {
    width: 50%;
    margin-top: 0.5rem;
  }
  
  .guessContainer td {
    height: 0;
    padding-bottom: 15%;;
  }

  .scrollBox {
    height: 150px;
  }
}


footer {
  width: 100%;
}

footer p {
  color: #222;
  font-size: 0.9rem;
  padding: 0.25rem;
  text-align: center;
}

@keyframes greenTransistion {
  from {
  }
  to {
    background-color: rgb(255, 255, 255);
    border: 0.2rem solid $box-border-colour;
  }
}

@keyframes yellowTransistion {
  from {
    background-color: #fff;
    border: 0.2rem solid $box-border-colour;
  }
  to {
    background-color: $yellow;
    border: 0;
  }
}

@keyframes greenTransistion {
  from {
    background-color: #fff;
    border: 0.2rem solid $box-border-colour;
  }
  to {
    background-color: $green;
    border: 0;
  }
}

/* Wordle 205 4/6

⬜⬜⬜⬜🟨
⬜🟨🟩⬜⬜
🟩🟩🟩⬜🟨
🟩🟩🟩🟩🟩 */