* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

table {
  margin: auto;
  margin-top: 1rem;
}

#whitebox {
  background-color: #fff;
}

#yellowbox {
  background-color: rgb(221, 188, 88);
}

#greenbox {
  background-color: rgb(74, 178, 100);
  border: 2px solid green;
}

td {
  border: 1px solid #000000;
  border-collapse: collapse;
  width: 20px;
  height: 20px;
}

#final_word {
  margin: auto;
  display: block;
  margin-top: 1rem;
}

button {
  margin: auto;
  display: block;
  margin-top: 1rem;
}